language: ruby
cache: bundler
sudo: false
rvm:
  - 2.1.5
  - 2.2.2
node_js:
  - "0.10"
branches:
  only:
    - master
before_install:
  - cd lib/api_browser
  - npm install
  - cd ../..
script:
  - bundle exec rspec spec
  - cd lib/api_browser
  - npm test
  - cd ../..
