<!-- footer -->
<footer class="footer">
  <div class="footer-inner">
    <div class="footer-logo">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/public/images/logo.svg" alt="PRAXIS"></a>
      <div class="footer-legal">
        &copy; {{ site.time | date: '%Y' }} <a href="http://www.rightscale.com">RightScale, Inc</a>.
      </div>
    </div>
    <div class="footer-secondary-links">
      <ul>
        <li><a class="twitter" href="https://twitter.com/praxisapi">Follow us on Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
<script src="{{ site.baseurl }}/public/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVPZRG4MDQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZVPZRG4MDQ');
</script>