<!-- header -->
<div class="header">
  <div class="header-inner">
    <div class="header-logo">
      <a href="{{ site.baseurl }}/" class="hero-logo"><img src="{{ site.baseurl }}/public/images/logo.svg" alt="PRAXIS"></a>
    </div>
    <ul>
      <li><a href="{{ site.baseurl }}/getting-started">Getting Started</a></li>
      <li><a href="{{ site.baseurl }}/reference">Documentation</a></li>
      <li><a href="https://github.com/rightscale/praxis">Source</a></li>
      <li><a href="https://github.com/rightscale/praxis/blob/master/CONTRIBUTING.md">Contribute</a></li>
    </ul>
  </div>
</div>
