<ul class="main-nav">
  {% assign section = page.url | replace_first:"/" | split:"/" | first | prepend:"/" %}
  {% for item in site.navigation %}
    <li class="{% if item.href == section %}active{% endif %}">
      {% if item.href %}
        <a href="{{ site.baseurl }}{{ item.href }}">{{ item.title }}</a>
      {% else %}
        {{ item.title }}
      {% endif %}
      {% if item.subsections %}
        <ul class="nav">
        {% for subsection in item.subsections %}
          <li class="{% if page.url == subsection.href %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ subsection.href }}">{{ subsection.title }}</a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
